<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Counter</title>
</head>
<body>

	<h1>Careful.. Imma count to <%= counter %></h1>

	<ul>
	<% for(var i = 1; i <= counter; i++) { %>

	<li><%= i %></li>
	
	<% } %>
	</ul>		

	<%= names[Math.round(Math.random() * (names.length - 1))] %>
	
</body>
</html>